{% extends "base.html" %}
{% block content %}
    <h2>상세페이지</h2>
    
    <p>이름 : {{ bakery.name }}</p>
    <p>평점 : {{ bakery.rating }}</p>
    <p>주소 : {{ bakery.address }}</p>
    <p>오픈시간 : {{ bakery.opening_time | date:"h:i A"}} ~ {{ bakery.closing_time | date:"h:i A"}}</p>

    <hr>
    <form action="{% url 'bakeries:delete' bakery.id %}" method="POST">
        {% csrf_token %}
        <button>삭제</button>
    </form>
    <form action="{% url 'bakeries:update' bakery.id %}" method="GET">
        {% csrf_token %}
        <button>읎데이뜨</button>
    </form>
    
{% endblock content %}
