{% extends "base.html" %}

{% block  content %}
  {% comment %} <form action="">
    
    <label for="company_name" class = "label">회사 이름을 입력하세요:</label>
    <input id = "company_name", name = "company_name", type = "text">
    <button>추가</button>
  </form> {% endcomment %}
  <div class="container mt-4">
    <h3>{{ user.nickname }}님의 관심 종목</h3>

    <form action = "{% url "favorites:addFav" %}" method="get" class="d-flex mt-3">
      {% csrf_token %}
      <input type="text" name="stock_name" class="form-control w-50" placeholder="종목명 입력">
      <button type="submit" class="btn btn-primary ms-2">추가</button>
    </form>

    <ul class="list-group mt-4">
      
      {% if companyLst %}
          {% for fav in companyLst %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'crawlings:find_codename'  %}?company_name={{ fav.company_name }}" method = "GET">{{ fav.company_name }}</a>
              <form action="{% url 'favorites:deleteFav' fav.id %}" method = "POST"> 
                {% csrf_token %}  
                <button>즐겨찾기 삭제</button>
              </form>
            </li>
          {% endfor %}
      {% else %}
        <li class="list-group-item">등록된 관심 종목이 없습니다.</li>
      {% endif %}
    </ul>
  </div>
{% endblock content %}
